<ion-view view-title="分包计量" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear button-icon ion-ios-arrow-left header-item"
                ng-click="back()" nav-direction="back"></button>
    </ion-nav-buttons>
    <ion-content>
        <!-- 下拉刷新 -->
        <ion-refresher on-refresh="refreshListData()" pulling-text="下拉刷新数据" refreshing-text="刷新中..."
                       refreshing-icon="ion-loading-b"></ion-refresher>
        <div class="empty-info" ng-if="!hasNextPage && measureList.length == 0 ">
            <i class="ion-android-alert"></i>

            <p>没有找到符合条件的结果！</p>

            <p>请下拉刷新！</p>
        </div>

        <div class="card margin-top" ng-repeat="measure in measureList">
            <div class="item has-mark"  ui-sref="subcontract/measure/measure-detail({id: measure.id})">

                <p><span class="title">计量期：</span>{{measure.year}}年{{measure.month}}月</p>

                <p><span class="title">本期计量金额：</span>{{measure.amount}}元</p>

                <p><span class="title">累计计量金额：</span>{{measure.sumAmount}}元</p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadListData()" distance="1%" ng-if="hasNextPage"></ion-infinite-scroll>
    </ion-content>

    <div class="bar bar-footer nopadding">
        <h4 class="full-width text-center">合计： {{total}} 元</h4>
    </div>
</ion-view>