<ion-view view-title="{{merchantName}}">
    <ion-content>
        <div class="empty-info" ng-if="measureContractDetails.length == 0 ">
            <i class="ion-android-alert"></i>

            <p>没有相关数据！</p>

        </div>
        <ion-list>
            <ion-item class="item-icon-right item-link" ng-repeat="contractDetail in measureContractDetails"
                      ui-sref="subcontract/measure/measure-team-list({id: contractDetail.id,contractId:contractDetail.contractId,
                      contractName:contractDetail.contractName})">
                <i class="icon ion-ios-arrow-right"></i>

                <h2 class="padding-bottom">{{contractDetail.contractName}}</h2>
                <table class="table-detail">
                    <tbody>
                    <tr>
                        <td width="50%" height="25"><span class="note">合同内金额：</span>{{contractDetail.withinAmount}} 元
                        </td>
                        <td height="25"><span class="note">合同外金额：</span>{{contractDetail.withoutAmount}} 元</td>
                    </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>