<ion-view view-title="更改密码">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear button-icon ion-ios-arrow-left header-item" ng-click="$ionicGoBack()" nav-direction="back">

        </button>
    </ion-nav-buttons>
    <ion-content class="bg-grey yt-form">

        <div class="content">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label self-info-txt">原密码</span>
                    <input type="password" placeholder="请输入原密码" ng-model="pd.oldPd">
                </label>
                <label class="item item-input">
                    <span class="input-label self-info-txt">新密码</span>
                    <input type="password" placeholder="请输入新密码" ng-model="pd.newPd">
                </label>
                <label class="item item-input">
                    <span class="input-label self-info-txt">重复新密码</span>
                    <input type="password" placeholder="请输入新密码" ng-model="pd.newPdRepeat">
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="updatePassword()">确认修改</button>
            </div>
        </div>

    </ion-content>
</ion-view>
