<ion-view hide-nav-bar="true" ng-init="hideForKeybroad=true">

    <div class="login-top">
        <img class="logo" src="modules/frame/login/img/login_logo.png"/>
        <h4>建&nbsp;&nbsp;工&nbsp;&nbsp;云</h4>
    </div>

    <form id="login" class="login-main list">
        <label class="item item-input">
            <i class="icon ion-ios-person positive placeholder-icon"></i>
            <input type="text" ng-focus="hideForKeybroad=false" ng-blur="hideForKeybroad=true"
                   ng-model="loginInfo.username" placeholder="请输入账号">
        </label>
        <label class="item item-input">
            <i class="icon ion-ios-unlocked placeholder-icon positive"></i>
            <input type="password" ng-focus="hideForKeybroad=false" ng-blur="hideForKeybroad=true"
                   ng-model="loginInfo.password" placeholder="请输入密码">
        </label>

        <div class="login-info">
            <p class="nomargin">
                <span><input type="checkbox" class="margin-right" ng-model="loginInfo.rememberPassword">记住密码</span>
                <a href="#" class="fr">忘记密码？&nbsp;</a>
            </p>
            <button class="button button-positive button-block noborder" ng-click="login()">登&nbsp;录</button>
        </div>
    </form>

    <div class="login-footer text-center hide-on-keyboard-open" ng-if="hideForKeybroad">
        <p class="">江苏元图信息技术有限公司 v.1.1.0</p>
    </div>

    <link href="modules/frame/login/css/login.css" rel="stylesheet">
</ion-view>
