<ion-view view-title="编辑图片" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear button-icon ion-ios-arrow-left header-item"
                ng-click="back()" nav-direction="back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="save()" nav-direction="back">
            保存
        </button>
    </ion-nav-buttons>
    <canvas id="canvas">
        Your browser does not support the canvas element.
    </canvas>
</ion-view>