<ion-view view-title="职称证书">
    <ion-content>
        <div class="list">
            <div class="item">
                职称证书名称
                <span class="item-note">{{title.name}}</span>
            </div>
            <div class="item">
                原件存放地
                <span class="item-note">{{title.orgName}}</span>
            </div>
            <div class="item item-icon-right item-link" ng-click="attachmentShow()">
                附件
                <i class="icon" ng-class="attachment?'ion-ios-arrow-down':'ion-ios-arrow-up'"></i>
            </div>
            <div class="item item-grid nopadding" ng-show="attachment">
                <div ng-repeat="attach in attaches" ng-click="download(attach)">
                    <img src="{{attach.name|showAttachIcon}}">
                    <p>{{attach.name}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>