<ion-view view-title="执业资格证书">
    <ion-content>
        <div class="list">
            <div class="item">
                执业资格证书名称
                <span class="item-note">{{certificate.type}}</span>
            </div>
            <div class="item">
                专业
                <span class="item-note">{{certificate.major}}</span>
            </div>
            <div class="item">
                原件存放地
                <span class="item-note">{{certificate.orgName}}</span>
            </div>
            <div class="item item-icon-right item-link" ng-click="attachmentShow()">
                附件
                <i class="icon" ng-class="attachment?'ion-ios-arrow-down':'ion-ios-arrow-up'"></i>
            </div>
            <div class="item item-grid nopadding" ng-show="attachment">
                <div ng-repeat="attach in attaches" ng-click="download(attach)">
                    <img src="{{attach.name|showAttachIcon}}">
                    <p>{{attach.name}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>