<ion-view view-title="项目人员信息" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear button-icon ion-ios-arrow-left header-item"
                ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="submit()">
            确定
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                项目经理
            </ion-item>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">姓名</ion-label>
                <input class="text-right" type="text" placeholder="请输入姓名" value="" ng-model="detail.manager">
            </ion-input>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">联系方式</ion-label>
                <input class="text-right" type="text" placeholder="请输入联系方式" value="" ng-model="detail.managerTel">
            </ion-input>
            <ion-item class="item-divider">
                技术负责人
            </ion-item>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">姓名</ion-label>
                <input class="text-right" type="text" placeholder="请输入姓名" value="" ng-model="detail.technician">
            </ion-input>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">联系方式</ion-label>
                <input class="text-right" type="text" placeholder="请输入联系方式" value="" ng-model="detail.technicianTel">
            </ion-input>
            <ion-item class="item-divider">
                质检员
            </ion-item>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">姓名</ion-label>
                <input class="text-right" type="text" placeholder="请输入姓名" value="" ng-model="detail.inspector">
            </ion-input>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">联系方式</ion-label>
                <input class="text-right" type="text" placeholder="请输入联系方式" value="" ng-model="detail.inspectorTel">
            </ion-input>
            <ion-item class="item-divider">
                安全员
            </ion-item>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">姓名</ion-label>
                <input class="text-right" type="text" placeholder="请输入姓名" value="" ng-model="detail.safetyOfficer">
            </ion-input>
            <ion-input class="item item-input item-icon-right">
                <ion-label class="input-ion-input">联系方式</ion-label>
                <input class="text-right" type="text" placeholder="请输入联系方式" value="" ng-model="detail.safetyOfficerTel">
            </ion-input>
        </ion-list>
    </ion-content>
</ion-view>