<ion-view view-title="请填写改进要求" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear button-icon ion-ios-arrow-left header-item"
                ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="submit()">
            确定
        </button>
    </ion-nav-buttons>
    <ion-content>
        <textarea ng-model="detail.advice"></textarea>
    </ion-content>
</ion-view>